body {
  margin: 0;
  font-size: 18px;
  font-family: 'din-2014' !important;
}

.top-bar a {
  color: #fff;
}

a {
  color: #51BAD1;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #51BAD1;
}

.text-center {
  text-align: center;
}

.top-bar {
  background-color: #4276ff;
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
}

.checkboxes {
  text-align: left;
  max-width: 200px;
  margin: 0 auto;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}
img {
    max-height: 120px;
    max-width: 120px;
    padding: 2em;
}
h4 {
    padding: 2em;
}
h1 {
    padding-top: 2em;
    font-family: "Berlin Sans FB", sans-serif !important;
    font-weight: normal;
}